
/* fichier osteopathie.php ====================================================================================================================== */
.bandeau-osteopathie {
    box-shadow: inset 0 -10px 15px -5px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-image: url('/images/monstera2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.bandeau-osteopathie h3 {
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}


.body-page-osteopathie {
    padding: 0 5px 30px 5px;
    text-align: justify;
}


.body-page-title {
    color: #026c6e; /* Couleur du texte du titre */
    padding: 8px; /* Espace à l'intérieur du bandeau */
    font-size: 18px; /* Taille de la police du titre */
    text-align: center; /* Alignement du texte au centre */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2); /* Modifier les valeurs selon vos préférences. */
}

.media {
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2); /* Modifier les valeurs selon vos préférences. */
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.media:hover {
    background-color: rgba(204, 240, 234, 0.5);
}


.media img {
    max-height: 150px; /* La largeur maximale de l'image sera égale à la largeur de son conteneur. */
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.media-body p {
    text-align: justify;
    padding: 5px;
}

.media-body h5 {
    color: #026c6e;
}

.body-page {
    text-align: justify;
}
