/* Pages sur les pratiques ================================================================================= */ 

#retour-button {
    background-color: #708C78;
    border-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#retour-button a {
    color: white;
}

figcaption {
    padding: 10px;
}

.card-pratique {
    display: flex; /* Utilisez Flexbox pour mettre l'image et le texte côte à côte */
    align-items: center; /* Centre verticalement le contenu */
    gap: 20px; /* Espace entre l'image et le texte */
    padding-top: 15px;
    padding-bottom: 30px;
}

.card-img-left {
    max-width: 50%; /* Réduit la largeur de l'image à 50% de la largeur du conteneur parent */
    height: auto; /* Ajuste automatiquement la hauteur proportionnellement */
    border-radius: 5px;
}

/* Media Query pour les appareils mobiles */
@media (max-width: 768px) {
    .card-pratique {
        flex-direction: column; /* Change la direction du flex pour empiler l'image au-dessus du texte */
    }

    .card-img-left {
        max-width: 100%; /* Utilise la largeur totale pour l'image sur des écrans étroits */
    }
}


